// -------------------------------------
// Light Mode
// -------------------------------------
$color-primary: #1e3a8a; // Dunkles Blau f체r Hauptbuttons, Header
$color-primary-hover: #2563eb; // Helleres Blau f체r Hover
$color-bg-light: #f9fafb; // Seitenhintergrund
$color-bg-dark: #e5e7eb; // Karten, Container
$color-text-dark: #111827; // Haupttext
$color-text-medium: #6b7280; // Untertext, Labels
$color-error: #dc2626; // Fehleranzeigen
$color-success: #16a34a; // Best채tigung / Erfolg
$color-accent: #f59e0b; // kleine Akzente, z.B. Warnungen oder Highlights
$color-bg: #f7f7f7;

// -------------------------------------
// Feminine Theme (Accent)
// -------------------------------------
$color-primary-feminine: #ec4899;
$color-primary-feminine-hover: #f472b6;
$color-bg-feminine-top: #fdf2ff;
$color-bg-feminine-mid: #fdf2f8;
$color-bg-feminine-bottom: #fef2f2;

// -------------------------------------
// Dark Mode
// -------------------------------------
$color-primary-dark: #3b82f6; // Hauptbuttons, Header
$color-primary-hover-dark: #60a5fa; // Hover-Effekt
$color-bg-light-dark: #1f2937; // Seitenhintergrund
$color-bg-dark-dark: #1b478e; // Karten, Container
$color-text-dark-dark: #f9fafb; // Haupttext
$color-text-medium-dark: #d1d5db; // Untertext, Labels
$color-error-dark: #f87171; // Fehleranzeigen
$color-success-dark: #4ade80; // Best채tigung / Erfolg
$color-accent-dark: #fbbf24; // Akzente

$box-shadow: 0 0 18px -8px rgb(60, 60, 60);
$border-radius: 30px;
