@use "./variables";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: variables.$color-bg-light-dark;
  color: variables.$color-text-dark-dark;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: variables.$color-primary-hover-dark;
}

.btn-primary {
  background: variables.$color-primary-dark;
  border-radius: 100px;
  padding: 12px 24px;
  border: none;
  color: variables.$color-text-dark-dark;
  font-size: 20px;
  transition: all 0.3s ease;
  &:hover {
    background: variables.$color-primary-hover-dark;
  }
  &.small {
    padding: 8px 16px;
    font-size: 16px;
  }
}

//auth
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.login-card {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 450px;
}

.login-title {
  font-size: 2.5rem;
  margin: 0 auto;
  background: variables.$color-text-dark-dark;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-label {
  font-size: 1.2rem;
}

.form-input {
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  color: variables.$color-text-dark-dark;
  font-size: 1.2rem;
  width: 100%;
  outline: none;
  & select {
    appearance: none;
    padding: 10px 40px 10px 10px;
    background-position: right 10px top 50%;
    background-size: 20px;
  }
  & option {
    color: variables.$color-text-dark !important;
  }
  &.small {
    padding: 4px 4px;
  }
}

.form-input::placeholder {
  color: variables.$color-text-medium-dark;
}

.login-divider {
  height: 1px;
  width: 100%;
  background: rgba(28, 28, 28, 0.3);
}

.google-login-button {
  background: #fff;
  color: #757575;
  padding: 12px 25px;
  border: 1px solid #ddd;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.login-links-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  & > p {
    margin: 0;
  }
}

.page {
  padding: 40px 20px;
}

.home-layout {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  &:first-child {
    & > th:nth-child(1) {
      background: variables.$color-bg-dark-dark;
      text-align: left;
    }
    & > th {
      background: variables.$color-bg-dark-dark;
      text-align: right;
    }
  }
  & > td:nth-child(1) {
    text-align: left;
  }
  & > td {
    text-align: right;
  }
  &.total-score-row {
    & > td {
      font-weight: 600;
      font-size: 20px;
      border-top: 2px solid variables.$color-text-medium-dark;
      padding-top: 10px;
    }
  }
}

th {
  padding: 6px 15px;
  font-size: 18px;
  font-weight: 600;
}

td {
  padding: 4px 15px;
  font-size: 18px;
}

.subject-type {
  color: variables.$color-text-medium;
  font-size: 16px;
}

.grade-box {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  color: variables.$color-text-dark-dark;
  font-weight: bold;
  &.good {
    background-color: variables.$color-success;
  }
  &.medium {
    background-color: variables.$color-accent;
  }
  &.bad {
    background-color: variables.$color-error;
  }
}

.grade-distribution-wrapper {
  padding-top: 20px;
}

.grade-distribution-table {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  & > div {
    border: 1px solid variables.$color-text-dark-dark;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.grade {
  grid-column: span 3;
  font-weight: 600;
  &:nth-child(6) {
    grid-column: span 1;
  }
}

.point {
  grid-column: span 1;
}

.add-subject-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  position: relative;
}

.form-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.subjects-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.subject-box {
  padding: 20px;
  border: 2px solid variables.$color-text-medium-dark;
  border-radius: 20px;
  cursor: pointer;
}

.subject-detail-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subject-detail-grade {
  font-size: 28px;
  font-weight: 600;
}

.subject-detail-subheadline {
  font-weight: 400;
  color: variables.$color-text-medium-dark;
}

.btn-small {
  border: variables.$color-text-medium-dark;
  background: none;
}

.back-to-home-wrapper,
.logout-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.back-to-home-text,
.logout-text {
  font-size: 26px;
  margin: 0;
}

.add-grade-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.section-headline {
  display: flex;
  gap: 20px;
  position: relative;
}

.help-box {
  position: absolute;
  width: 100%;
  font-size: 14px;
  background: variables.$color-bg-light;
  color: variables.$color-text-dark;
  padding: 14px;
  top: -230px;
  border-radius: 20px;
  pointer-events: none;
  opacity: 0;
  transition: all .3s ease;
  &>p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.active {
    opacity: 1;
  }
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* sanftes Scrollen auf iOS */
  padding-bottom: 30px;
}
